In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\pande\appdata\local\programs\python\python312\lib\site-packages (2.0.3.dev0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [1]:
df = pd.read_csv("data/Dataset.csv")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
from kafka import KafkaProducer

In [4]:
from time import sleep

In [5]:
import json

In [6]:
from json import dumps

In [9]:
df = pd.read_csv("../Dataset.csv")

In [10]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
producer = KafkaProducer(bootstrap_servers=[':9092'], #write your public ip here 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0] #convert each row in the json (dict) format 
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush() #flush the compelete data